.mainbody{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.mainbody2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.mainbody3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

.bodycontent1{
    width: 40vw;
    height: 10vh;
    margin-left: 100px;
}

.bodycontent2{
    width: 40vw;
    height: 10vh;
    margin-left: 100px;
}
.bodycontent3{
    width: 40vw;
    height: 10vh;
    margin-left: 100px;
}

