.contact-bar{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    background-color: black;
    padding: 5px;
    width: 100%;
}

div > span > a{
    text-decoration: none;
    color: white;
}

div > span{
    background-color: black;
    color: white;
    padding-left: 10px;
    margin-left: 5px;
}
